@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap');
*{
    padding:0;margin:0;text-decoration: none;list-style: none;
    font-family: 'Noto Sans KR', sans-serif;
}

.test_main{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .main_wrap{
        max-width: 400px;
        width:100%; 
        margin:0 auto;
        text-align: center;
        padding: 0 20px;

        .en{font-size:13px;color:#f17a0b;padding-bottom: 15px;}
        .title{font-size:24px;font-weight: 600;color:#000;padding-bottom: 15px;}
        .sub{font-size:15px; font-weight: 400;padding-bottom: 50px;}
        .btn a{
            display: block;
            color:#fff;background:#17351a;
            width:150px;height:40px;line-height: 40px;
            font-size: 13px;
            margin:0 auto;
            cursor: pointer;
        }

        //test_1
        .test1_number{font-size:20px;color:#f17a0b;padding-bottom: 50px;}
        .test1_title{font-size:25px;font-weight: 600;color:#000;padding-bottom: 50px;}
        .test1_list{
            ul{
                li{
                    border:1px solid #17351a; 
                    width:70%;height:40px;
                    line-height:40px;margin:0 auto;
                    margin-bottom: 20px; 
                    color:#17351a; font-size:20px;
                    cursor: pointer;
                }
            }
        }
    }
}