* {
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
}

body {
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    padding: 100px 0;
}

/*button style_1*/
.button_style_1 .btn_wrap {
    position: relative;
    border: 1px solid #000;
    background-color: #fff;
    border-radius: 10px;
    width: 180px;
    height: 60px;
    overflow: hidden;
}

.btn_wrap.move {
    animation: moving5 1s forwards;
    animation-delay: .4s;
}

.btn {
    position: absolute;
    cursor: pointer;
    border-radius: 15px;
    width: 180px;
    height: 60px;
}

.btn p:nth-of-type(1) {
    width: 20px;
    height: 20px;
    background-color: #000;
    position: absolute;
    top: 50%;
    left: -15%;
    transform: translate(-50%, -50%);
    z-index: 5;
    border-radius: 50px;
}

.btn p:nth-of-type(1).active {
    animation: btnmove_left 1.5s forwards;
}

.btn div {
    position: absolute;
    z-index: 6;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 20px;
}

.btn div span {
    transform: translate(5px, -2px);
}

.btn div.active {
    animation: 1.2s btnmove_div_gong forwards;
}

.btn p:nth-of-type(2) {
    width: 20px;
    height: 20px;
    background-color: #000;
    position: absolute;
    top: 50%;
    right: -15%;
    transform: translate(50%, -50%);
    z-index: 5;
    border-radius: 50px;
}

.btn p:nth-of-type(2).active {
    animation: btnmove_right 1.2s forwards;
}

@-webkit-keyframes btnmove_left {
    40% {
        left: 50%;
        width: 20px;
        height: 20px;
    }

    100% {
        left: 50%;
        width: 200px;
        height: 100px;
    }
}

@keyframes btnmove_left {
    40% {
        left: 50%;
        width: 20px;
        height: 20px;
    }

    100% {
        left: 50%;
        width: 200px;
        height: 100px;
    }
}

@-webkit-keyframes btnmove_right {
    40% {
        right: 50%;
        width: 20px;
        height: 20px;
    }

    100% {
        right: 50%;
        width: 200px;
        height: 100px;
    }
}

@keyframes btnmove_right {
    40% {
        right: 50%;
        width: 20px;
        height: 20px;
    }

    100% {
        right: 50%;
        width: 200px;
        height: 100px;
    }
}

@-webkit-keyframes btnmove_div {
    40% {
        color: #7e1e1a;
    }

    100% {
        color: #fff;
    }
}

@keyframes btnmove_div {
    40% {
        color: #7e1e1a;
    }

    100% {
        color: #fff;
    }
}

@-webkit-keyframes btnmove_div_gong {
    40% {
        color: #000;
    }

    100% {
        color: #fff;
    }
}

@keyframes btnmove_div_gong {
    40% {
        color: #000;
    }

    100% {
        color: #fff;
    }
}

/*button style_1*/